@inherits Umbraco.Web.Mvc.UmbracoViewPage<QuoteContent>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

@if (Model.Quote.HasValue())
{
    <div class="has-large-spacing-top has-large-spacing-bottom">
        <blockquote class="is-size-4">
            @Model.Quote
        </blockquote>
    </div>
}
