@inherits Umbraco.Web.Mvc.UmbracoViewPage<IconsSection>
@using Umbraco.Web.PublishedModels


@SectionHelper.RenderSectionStart(Model.BackgroundColor.Label, className: "icon-section")
@foreach (var icon in Model.Icons)
{
    <div class="column has-no-background has-large-spacing-bottom @RazorHelper.ColumnClass(Model.ItemsPerRow?.ToString())">
        @Html.Partial($"~/Views/Partials/Nested/Item/IconItem.cshtml", icon)
    </div>
}
@SectionHelper.RenderSectionEnd()