@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section class="hero  is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">@Model.GetProperty("PageTitle").GetValue()</h1>
            <h2 class="subtitle">
                Primary subtitle
            </h2>
        </div>
    </div>
</section>