@inherits UmbracoViewPage<Blog>
@using U8StarterKit.Web.Models.Umbraco
@using Umbraco.Web;
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.ContentBase(Model))
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            @Umbraco.RenderMacro("latestBlogposts",
                new
                {
                    numberOfPosts = Model.HowManyPostsShouldBeShown,
                    startNodeId = Model.Id
                })
            @{
            }
            </div>
        </div>
    </div>
</section>