@inherits UmbracoViewPage<Blog>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Models.ViewModels;
@{
    Layout = "master.cshtml";
    var blog = new BlogsViewModel()
    {
        Blog = Model,
        BlogsPosts = Model.Children.Select(x => new Blogpost(x)).ToList(),
        HasPaging = true,
        IsHalfWidth = true,
        ItemsToShow = 4
    };
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new HeaderSection(Model))
<section class="section">
    <div class="container">
            @Html.Partial("~/Views/Partials/Blogs.cshtml", blog)
    </div>
</section>