@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using U8StarterKit.Web.Models.Umbraco
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/Nested/RenderElements.cshtml", Model.NestedHero)
<section class="section has-spacing section-gray">
    <div class="container">
        <div class="columns is-8 is-variable">
            <div class="column is-two-thirds-tablet">
                @Html.Partial("~/Views/Partials/Nested/RenderElements.cshtml", Model.NestedContent)
            </div>
            <div class="column is-one-third-tablet">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                        @Html.Partial("~/Views/Partials/Nested/RenderElements.cshtml", Model.NestedSideBar)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
