@inherits UmbracoViewPage<People>
@using U8StarterKit.Web.Models.Umbraco
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new HeaderSection(Model))
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            @foreach (var person in Model.Children.Select(x => new Person(x)))
            {
                <div class="column is-one-third">
                    @Html.Partial("~/Views/Partials/Nested/Item/PersonItem.cshtml", person) 
                </div>
            }
        </div>
    </div>
</section>


