@inherits UmbracoViewPage<Products>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
    var products = Model.Children.Select(x => new Product(x));
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.HeaderSection(Model))
<section class="section has-spacing section-gray">
    <div class="container">
        <div class="columns is-multiline">
            @if (products.HasValue())
            {
                foreach (Product product in products)
                {
                    <div class="column is-one-third">
                        @Html.Partial("~/Views/Partials/Elements/ProductElement.cshtml", product)
                    </div>
                }
            }
        </div>
    </div>
</section>