@inherits Umbraco.Web.Mvc.UmbracoViewPage<LinkComponent>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

@if (Model.Link.HasValue())
{
    <div class="columns is-centered">
        <div class="column is-one-third has-text-centered has-spacing-top has-no-background">
            <div class="buttons are-large is-centered">
                <a href="@Model.Link.Url" target="@Model.Link.Target" class="button is-link">@Model.Link.Name</a>
            </div>
        </div>
    </div>
}