<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9f29e01-2003-46b0-8df8-c3eabca1e70e" Alias="appConfig" Level="3">
  <Info>
    <Name>Application Configuration</Name>
    <Icon>icon-settings color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Configuration</Folder>
    <Compositions>
      <Composition Key="355ad2ae-4f8f-4c76-9c30-368cdd390065">navigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1858bb2e-754a-45e6-aac3-4283d93fb994</Key>
      <Name>Font Awesome</Name>
      <Alias>fontAwesome</Alias>
      <Definition>abbd410a-41d7-4798-8358-bf4790e0f5da</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>