<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9f29e01-2003-46b0-8df8-c3eabca1e70e" Alias="appConfig" Level="3">
  <Info>
    <Name>Application Configuration</Name>
    <Icon>icon-settings color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Configuration</Folder>
    <Compositions>
      <Composition Key="355ad2ae-4f8f-4c76-9c30-368cdd390065">navigation</Composition>
      <Composition Key="53730b1b-21c3-47e0-92a9-2723c6da0add">footerSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>