<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11b13c7b-7bd9-462f-9b58-692746c0cc4d" Alias="bannerSection" Level="3">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Section</Folder>
    <Compositions>
      <Composition Key="1d9bacc3-7479-446f-928a-853b10d4e547">colourSettingsComposition</Composition>
      <Composition Key="9319e848-68ed-460f-ba25-ae1accb9d94c">fontAwesomeComposition</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0739f8e1-166a-4013-9981-058347573195">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2f0c663-80b9-41df-8d3d-398f2e429344</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d2a2ac14-c71e-4f6e-9856-6205d399ce8b</Key>
      <Name>Primary Link</Name>
      <Alias>primaryLink</Alias>
      <Definition>fd0d6da2-2727-44dc-b887-3f241d2cc664</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e7231acb-93b5-4948-9dc1-4764f3c76540</Key>
      <Name>Secondary Link</Name>
      <Alias>secondaryLink</Alias>
      <Definition>fd0d6da2-2727-44dc-b887-3f241d2cc664</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>71a48602-0a2c-4adb-8a33-25f35bc4f639</Key>
      <Name>Secondary Link Before Text</Name>
      <Alias>secondaryLinkBeforeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ff8c9128-c6de-4d47-aa29-d439a8b3037c</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>ed145635-d670-4c9e-9e4d-1591e72a675c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a477d433-6f6d-4d30-8ef7-34639ddaa46d</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>