<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="754a40d7-cec8-499a-9fe3-459450706eea" Alias="blog" Level="3">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Listing</Folder>
    <Compositions>
      <Composition Key="211cac7a-50a9-418c-b089-b2b6e7e49e19">contentBase</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="fcc73c31-cc6f-4885-8db3-3b5536eb7f4e">listingPageBase</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerSection</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1805211f-aef1-491e-8919-5cc5aa7a8f63">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6451f693-2072-4052-a415-9f0854cf53cd">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9d5b6fb1-bc18-4624-aa4d-5cf8eb52e25c</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c7aa62df-2b0d-4b65-8629-207e44f7052c</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>itemsToShow</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>