<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6451f693-2072-4052-a415-9f0854cf53cd" Alias="blogpost" Level="3">
  <Info>
    <Name>Blog Post</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Item</Folder>
    <Compositions>
      <Composition Key="211cac7a-50a9-418c-b089-b2b6e7e49e19">contentBase</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerSection</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
      <Composition Key="d26e0643-1d11-45e5-8174-2b53f0e534d6">xMLSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>Blogpost</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="87562ad8-479f-4557-b4c4-a6075af4902d">Blogpost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0664760-fae4-438d-b6b5-db36173c8c69</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>9d0726e6-5fa7-4455-8fe6-ed5bf9057cc4</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a2e9fb7a-e9f9-4a24-938c-e667453e9eb6</Key>
      <Name>Post Image</Name>
      <Alias>postImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>