<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d69f8957-71a4-4ea5-807d-dd6da926afe0" Alias="blogsElement" Level="2">
  <Info>
    <Name>Latest Blogs Element</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b104e06c-f3ac-44dd-90bd-0ad77d26f255</Key>
      <Name>Blog</Name>
      <Alias>blog</Alias>
      <Definition>363a7431-e24d-45f2-9c42-32c0af01a356</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to get the blog posts from,]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>187a4403-3a89-4bfb-a727-02f9069adb6d</Key>
      <Name>Has Paging</Name>
      <Alias>hasPaging</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the paging buttons.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>98302c54-3454-403b-a408-3a06c1a20069</Key>
      <Name>Is Half Width</Name>
      <Alias>isHalfWidth</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the blogs to be side by side (half of container)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>85cb349d-059c-4d06-b024-dbfcd3b1e3b1</Key>
      <Name>Items To Show</Name>
      <Alias>itemsToShow</Alias>
      <Definition>4e2c77f6-a9c6-4630-b6a9-ed6c47ba6598</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The numbers of blogs items to show.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>