<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf556c0d-7661-4c85-8ae8-661424c36d32" Alias="callToActionSection" Level="3">
  <Info>
    <Name>Call To Action</Name>
    <Icon>icon-desktop color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Section</Folder>
    <Compositions>
      <Composition Key="1d9bacc3-7479-446f-928a-853b10d4e547">colourSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cd216797-b919-4b6b-bfb3-56e375beaf24</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ed145635-d670-4c9e-9e4d-1591e72a675c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>003cea0d-4963-4309-8cd2-aed161d53d09</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>fd0d6da2-2727-44dc-b887-3f241d2cc664</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ac710b9d-5032-48a7-b5d8-19eaa9af0733</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>