<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02c6ebc4-d22c-4447-aa80-e6bf95f79f76" Alias="columnSettingsComposition" Level="3">
  <Info>
    <Name>Column Settings Composition</Name>
    <Icon>icon-plugin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>165b8c1d-2097-4b7b-bece-addf32137d4c</Key>
      <Name>Items Per Row</Name>
      <Alias>itemsPerRow</Alias>
      <Definition>106fba2a-afc0-4d03-897a-0ea9ef288147</Definition>
      <Type>OptionButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>