<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8490a91-e001-4e35-b1f8-f3e1a0201601" Alias="contentSection" Level="2">
  <Info>
    <Name>Content Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d590cdda-6284-4348-8ad6-97ef4eb7cff5</Key>
      <Name>Nested Content</Name>
      <Alias>nestedContent</Alias>
      <Definition>7a2126ba-9ede-4a8e-8b3c-e4609af9b86b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The nested content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>