<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9319e848-68ed-460f-ba25-ae1accb9d94c" Alias="fontAwesomeComposition" Level="3">
  <Info>
    <Name>Font Awesome Composition</Name>
    <Icon>icon-plugin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>962b45dd-f00f-43f8-b318-c0da708ef92e</Key>
      <Name>Font Awesome Class</Name>
      <Alias>fontAwesomeClass</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[See the font awesome icon class name. Eg. "fas fa-cube"]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2549c644-4dd7-41d0-a23f-03b8ab4e56b9</Key>
      <Name>Font Awesome Size</Name>
      <Alias>fontAwesomeSize</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>25</SortOrder>
    </Tab>
  </Tabs>
</ContentType>