<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53730b1b-21c3-47e0-92a9-2723c6da0add" Alias="footerSection" Level="2">
  <Info>
    <Name>Footer Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce1cc8d3-014e-4704-9822-086a8a5810bf</Key>
      <Name>Nested Footer</Name>
      <Alias>nestedFooter</Alias>
      <Definition>b4d827d5-f995-4675-b3c1-ca51ed22f395</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>