<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f8b544e-e8d7-48c0-93c7-e2bc6dea7a93" Alias="heroSection" Level="2">
  <Info>
    <Name>Hero Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b5d50802-677d-4b8b-8ae6-de5b72b63e5f</Key>
      <Name>Hero Nested Content</Name>
      <Alias>nestedHero</Alias>
      <Definition>1367e7d5-5e1e-4d2c-89b5-f61de02594b5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>