<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f874a18-fed9-463a-98e4-d6779017fb26" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="1f8b544e-e8d7-48c0-93c7-e2bc6dea7a93">heroSection</Composition>
      <Composition Key="53730b1b-21c3-47e0-92a9-2723c6da0add">footerSection</Composition>
      <Composition Key="9ec34811-813d-4767-be6e-6aa0d795a181">sidebarSection</Composition>
      <Composition Key="f8490a91-e001-4e35-b1f8-f3e1a0201601">contentSection</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0739f8e1-166a-4013-9981-058347573195">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9236e65-5b5b-4f5e-8c53-bf59fb208234">products</ContentType>
    <ContentType Key="20e2ceb7-3f9e-4f59-8a2a-b70a95fbd716">people</ContentType>
    <ContentType Key="39678875-9b8a-460b-a6ab-b12e73b4fd08">contentPage</ContentType>
    <ContentType Key="09c48482-4087-472f-a81c-4ef94d681c1c">contact</ContentType>
    <ContentType Key="754a40d7-cec8-499a-9fe3-459450706eea">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fddeee07-9b17-451d-b381-df188ec23f25</Key>
      <Name>githubRepo</Name>
      <Alias>githubRepo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add gihub repo for social links,]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bb13a861-e501-4bbc-b188-196a71894ead</Key>
      <Name>Logo</Name>
      <Alias>siteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6440fd3b-b6a2-4a03-98f6-11da096145ce</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0518324a-8a04-4aa5-8bc5-e45d57721d6d</Key>
      <Name>twitterUsername</Name>
      <Alias>twitterUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add twitter username for social links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>