<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd269627-e65c-4bdc-9040-1b106e7dac97" Alias="iconComposition" Level="3">
  <Info>
    <Name>Icon Composition</Name>
    <Icon>icon-colorpicker color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions>
      <Composition Key="deab844b-3907-48b0-9142-671d63c7041c">iconComponent</Composition>
      <Composition Key="a1953303-2fd5-475d-8233-a6b2c9522ea4">linkComponent</Composition>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>