<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c99e255-4d1d-4831-aba7-289496e960ea" Alias="imageContent" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Content</Folder>
    <Compositions>
      <Composition Key="1db5a249-026e-421e-aebc-2c20df5a02e4">titleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>98d09a15-bd96-4a2a-bdc6-4954f6a745ca</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>519eaa41-b905-4371-aa7c-40c9b3946f66</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>67ed46e1-99c0-49f3-99be-3949520f205b</Key>
      <Name>Image Alignment</Name>
      <Alias>imageAlignment</Alias>
      <Definition>44dd93cb-bd0e-4576-abc4-06e47996896f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1ba1e6b5-ef3e-407b-8721-da96a45e3427</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>79871803-f93d-4ea9-a253-dd20c4dbea6c</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>