<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fcc73c31-cc6f-4885-8db3-3b5536eb7f4e" Alias="listingPageBase" Level="3">
  <Info>
    <Name>Listing Page Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate>ListingPageBase</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2dec82a8-4525-4de7-8bde-e41c72edbff3">ListingPageBase</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>93f639ac-aa7d-4ac7-8071-c60edafbb202</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>dcba275d-2829-476d-898f-f6585173fc1d</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing Content &amp; Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5d5fcfe8-a8a5-438c-9971-1c07e5e3d0af</Key>
      <Name>Items Per Row</Name>
      <Alias>itemsPerRow</Alias>
      <Definition>106fba2a-afc0-4d03-897a-0ea9ef288147</Definition>
      <Type>OptionButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Listing Content &amp; Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing Content &amp; Settings</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>