<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15c438a2-d834-4c54-8949-d3e40f712640" Alias="markdown" Level="3">
  <Info>
    <Name>Markdown</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Section</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>71a037b2-273d-4841-bf4c-f08951fc112c</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>2534449c-2cf6-4f96-89fa-05195065d26d</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add content in markdown.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>