<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88e9dbd6-301a-4e22-9aee-62c133e252df" Alias="navigationBase" Level="2">
  <Info>
    <Name>Navigation Base</Name>
    <Icon>icon-nodes color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>67c89fb8-50c2-4de6-a7d2-dbae96bc0d72</Key>
      <Name>Keywords</Name>
      <Alias>keywords</Alias>
      <Definition>9d0726e6-5fa7-4455-8fe6-ed5bf9057cc4</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords that describe the content of the page. This is considered optional since most modern search engines don't use this anymore]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f18d1cdc-babb-4207-96e3-310c9f38bc2e</Key>
      <Name>Description</Name>
      <Alias>seoMetaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the content on your page. This text is shown below the title in a google search result and also used for Social Sharing Cards. The ideal length is between 130 and 155 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>55c3eba5-55b9-4c41-b687-eb29c59ab8c5</Key>
      <Name>Hide in Navigation</Name>
      <Alias>umbracoNavihide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you don't want this page to appear in the navigation, check this box]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigation &amp; SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation &amp; SEO</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>