<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="355ad2ae-4f8f-4c76-9c30-368cdd390065" Alias="navigation" Level="3">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-plugin color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3feab632-2f1d-49aa-acef-4fc72305d4e4</Key>
      <Name>Left Navigation</Name>
      <Alias>leftNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick links for the left navigation.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9fe1f860-cbf3-4cf8-b74e-25a2fc6ae8ba</Key>
      <Name>Right Navigation</Name>
      <Alias>rightNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick links for the right navigation.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>