<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="355ad2ae-4f8f-4c76-9c30-368cdd390065" Alias="navigation" Level="3">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-plugin color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e70bde47-c4a2-4924-8df5-a86868331642</Key>
      <Name>Brand Logo</Name>
      <Alias>brandLogo</Alias>
      <Definition>e21d788d-b144-468e-9367-d873bcbdfd19</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pick Font Awesome Logo]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ce0a3ec9-a33b-4d6b-8ca2-79efec5b2724</Key>
      <Name>Left Nav</Name>
      <Alias>leftNav</Alias>
      <Definition>e21d788d-b144-468e-9367-d873bcbdfd19</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>27d42412-80c4-4d3c-8960-8d5bba15823c</Key>
      <Name>Right Nav</Name>
      <Alias>rightNav</Alias>
      <Definition>fd5d4d20-d729-48bf-b159-c40c69260e6f</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a4bec495-71ad-479e-a3ad-b5a564a4d8ad</Key>
      <Name>Utility Links</Name>
      <Alias>utilityLinks</Alias>
      <Definition>abbd410a-41d7-4798-8358-bf4790e0f5da</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add utility links, eg. "sign up", "log in"]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>