<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="168e52b2-0835-4aca-be10-70072193066f" Alias="person" Level="1">
  <Info>
    <Name>Person</Name>
    <Icon>icon-user-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Person</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1952ae11-925c-4613-91e1-66927024df9c">Person</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2348b60e-999c-4447-8531-f2beabd54fd1</Key>
      <Name>Department</Name>
      <Alias>department</Alias>
      <Definition>b58c1530-91c9-4c83-aa35-032aca0f7b89</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7e09afb1-2774-4839-a146-c6f418c4bc77</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61b0777d-2959-4147-b3ef-8b6b502837dc</Key>
      <Name>Facebook username</Name>
      <Alias>facebookUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc82e61d-7f3a-4a25-bebe-ce1cbe464f9c</Key>
      <Name>Instagram Username</Name>
      <Alias>instagramUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e6c588b8-1173-4aa9-81a9-9a590ff9e381</Key>
      <Name>LinkedIn username</Name>
      <Alias>linkedInUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>80d25329-4271-432a-9a71-4ffbb6e98e73</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>519eaa41-b905-4371-aa7c-40c9b3946f66</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ccc5d292-e26e-41af-9cb7-4f2b20d8df0c</Key>
      <Name>Twitter username</Name>
      <Alias>twitterUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>