<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9236e65-5b5b-4f5e-8c53-bf59fb208234" Alias="products" Level="3">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Listing</Folder>
    <Compositions>
      <Composition Key="3e192520-987b-4589-96e1-149f1dd5aaa8">contentBeforeAfterBase</Composition>
      <Composition Key="fccefed0-67b6-40f0-a251-95dc54845e70">headerSection</Composition>
      <Composition Key="fcc73c31-cc6f-4885-8db3-3b5536eb7f4e">listingPageBase</Composition>
      <Composition Key="88e9dbd6-301a-4e22-9aee-62c133e252df">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="04678a94-ed24-4bcc-997f-a12d5b6d36ad">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="29799536-2afc-4707-9ccc-1dcb5ca280cb">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4f9b2074-8900-4fc2-92ba-ea550c165cc1</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing Content &amp; Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing Content &amp; Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>