<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9796a7e7-549c-4cdc-97dc-5bb2f36d62af" Alias="rowElement" Level="2">
  <Info>
    <Name>Row Element</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>02a4de0d-3bad-4552-a727-fd264c74e880</Key>
      <Name>Column Width</Name>
      <Alias>columnWidth</Alias>
      <Definition>e21a892f-3991-4bda-a001-c53c98adbbd9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the width of the items in this column.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cdaec67e-f335-479c-9125-07d0b065cf37</Key>
      <Name>Row Content</Name>
      <Alias>rowContent</Alias>
      <Definition>7a2126ba-9ede-4a8e-8b3c-e4609af9b86b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>