<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ec34811-813d-4767-be6e-6aa0d795a181" Alias="sidebarSection" Level="3">
  <Info>
    <Name>Sidebar Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0406bca9-9566-4e11-a2e0-bab9b4bf54e5</Key>
      <Name>hideSidebar</Name>
      <Alias>hideSidebar</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidebar hidden, content is full width.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sidebar</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b901920b-0c07-4ee1-812d-439332707dac</Key>
      <Name>Sidebar Nested Content</Name>
      <Alias>nestedSideBar</Alias>
      <Definition>f547348a-aee8-4c7f-8461-82b918c83bc7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sidebar</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sidebar</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>