<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abbd410a-41d7-4798-8358-bf4790e0f5da" Alias="U8SK - Font Awesome Picker" Level="2">
  <Info>
    <Name>U8SK - Font Awesome Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>