<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1367e7d5-5e1e-4d2c-89b5-f61de02594b5" Alias="U8SK - Hero - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Hero - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "heroElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Hero: {{title}}"
    },
    {
      "ncAlias": "carouselElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Carousel"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>