<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e2c77f6-a9c6-4630-b6a9-ed6c47ba6598" Alias="U8SK - Slider (1-10)" Level="2">
  <Info>
    <Name>U8SK - Slider (1-10)</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Sliders</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1,
  "InitialValue2": 0,
  "MinimumValue": 1,
  "MaximumValue": 10,
  "StepIncrements": 1
}]]></Config>
</DataType>