<?xml version="1.0" encoding="utf-8"?>
<DataType Key="519eaa41-b905-4371-aa7c-40c9b3946f66" Alias="U8SK - Media Picker - Single" Level="2">
  <Info>
    <Name>U8SK - Media Picker - Single</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": "umb://document/b61e08cd366445759a7295848cb803ac"
}]]></Config>
</DataType>