<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2534449c-2cf6-4f96-89fa-05195065d26d" Alias="U8SK - Markdown" Level="2">
  <Info>
    <Name>U8SK - Markdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>RTEs</Folder>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null
}]]></Config>
</DataType>