<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed145635-d670-4c9e-9e4d-1591e72a675c" Alias="U8SK - RTE - Simple" Level="2">
  <Info>
    <Name>U8SK - RTE - Simple</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>RTEs</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "width": 5000,
      "height": 200
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>