<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e21a892f-3991-4bda-a001-c53c98adbbd9" Alias="U8SK - Column Width - Dropdown" Level="1">
  <Info>
    <Name>U8SK - Column Width - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "is-full"
    },
    {
      "id": 2,
      "value": "is-one-quarter"
    },
    {
      "id": 3,
      "value": "is-one-third"
    },
    {
      "id": 4,
      "value": "is-half"
    },
    {
      "id": 5,
      "value": "is-two-thirds"
    },
    {
      "id": 6,
      "value": "is-three-quarters"
    }
  ]
}]]></Config>
</DataType>