<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abbd410a-41d7-4798-8358-bf4790e0f5da" Alias="U8SK - Fa Links (button dropdowns)" Level="2">
  <Info>
    <Name>U8SK - Fa Links (button dropdowns)</Name>
    <EditorAlias>FaLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "primaryClassItems": [
    {
      "name": "Text",
      "value": "is-text"
    },
    {
      "name": "Primary",
      "value": "is-primary has-text-weight-bold"
    },
    {
      "name": "Secondary",
      "value": "is-info has-text-weight-bold"
    },
    {
      "name": "Link",
      "value": "is-link"
    },
    {
      "name": "Light",
      "value": "is-light"
    },
    {
      "name": "Dark",
      "value": "is-dark"
    }
  ],
  "secondaryClassItems": [
    {
      "name": "Small Button",
      "value": "is-small button"
    },
    {
      "name": "Normal Button",
      "value": "is-normal button"
    },
    {
      "name": "Medium Button",
      "value": "is-medium button"
    },
    {
      "name": "Large Button",
      "value": "is-large button"
    }
  ]
}]]></Config>
</DataType>