<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b58c1530-91c9-4c83-aa35-032aca0f7b89" Alias="U8SK - Tags - Csv" Level="2">
  <Info>
    <Name>U8SK - Tags - Csv</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>