<?xml version="1.0" encoding="utf-8"?>
<DataType Key="106fba2a-afc0-4d03-897a-0ea9ef288147" Alias="U8SK - Items Per Row" Level="2">
  <Info>
    <Name>U8SK - Items Per Row</Name>
    <EditorAlias>OptionButtonsPropertyEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>