<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f547348a-aee8-4c7f-8461-82b918c83bc7" Alias="U8SK - Sidebar - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Sidebar - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "signUpFormSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Form: {{title}}"
    },
    {
      "ncAlias": "productListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Products"
    },
    {
      "ncAlias": "peopleListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "People"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>