<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0382188-119b-49b7-86d3-84119a02645f" Alias="U8SK - Featured Products - MNTP" Level="2">
  <Info>
    <Name>U8SK - Featured Products - MNTP</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "product",
  "MinNumber": 0,
  "MaxNumber": 9,
  "ShowOpen": false
}]]></Config>
</DataType>