<?xml version="1.0" encoding="utf-8"?>
<DataType Key="363a7431-e24d-45f2-9c42-32c0af01a356" Alias="U8SK - Blog Picker (Single)" Level="1">
  <Info>
    <Name>U8SK - Blog Picker (Single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "blog",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false
}]]></Config>
</DataType>