<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34e41f0e-39f9-42e7-a85c-1ed1511ac208" Alias="U8SK - Slider (50 - 400)" Level="2">
  <Info>
    <Name>U8SK - Slider (50 - 400)</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Sliders</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 325,
  "InitialValue2": 0,
  "MinimumValue": 50,
  "MaximumValue": 400,
  "StepIncrements": 0
}]]></Config>
</DataType>