<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4b937e0-588d-4697-9a38-ffb6f3c30f4b" Alias="U8SK - Content - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "singleLineSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Single Line Content"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>