<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecbbac0d-974e-490c-b533-fead926dc525" Alias="U8SK - RTE - Standard" Level="2">
  <Info>
    <Name>U8SK - RTE - Standard</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>RTEs</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "bold",
      "italic",
      "bullist",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "HideLabel": false
}]]></Config>
</DataType>