<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4d827d5-f995-4675-b3c1-ca51ed22f395" Alias="U8SK - Footer - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Footer - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerStripSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner Strip: {{title}}"
    },
    {
      "ncAlias": "singleLineSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Single Line Content {{index}}"
    },
    {
      "ncAlias": "linksListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Links {{index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>