<?xml version="1.0" encoding="utf-8"?>
<DataType Key="496a4ec1-f8e9-420a-8a2f-6ffdc7083db3" Alias="U8SK - Home Outer - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Home Outer - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "rowElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Row:  {{columnWidth}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>