<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4b937e0-588d-4697-9a38-ffb6f3c30f4b" Alias="U8SK - Content - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "richTextContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Rich Text {{index}}"
    },
    {
      "ncAlias": "imageContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Image {{index}}"
    },
    {
      "ncAlias": "titleComponent",
      "ncTabAlias": "Content",
      "nameTemplate": "Title: {{title}}"
    },
    {
      "ncAlias": "quoteContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Quote {{index}}"
    },
    {
      "ncAlias": "callToActionSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Call To Action {{index}}"
    },
    {
      "ncAlias": "iconsSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Icons List {{index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>