<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a2126ba-9ede-4a8e-8b3c-e4609af9b86b" Alias="U8SK - Home Content - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Home Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blogsElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Latest Blogs: {{itemsToShow}} items"
    },
    {
      "ncAlias": "heroElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Hero: {{title}}"
    },
    {
      "ncAlias": "productsElement",
      "ncTabAlias": "Content",
      "nameTemplate": "Products"
    },
    {
      "ncAlias": "peopleElement",
      "ncTabAlias": "Content",
      "nameTemplate": "People"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>