<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a2126ba-9ede-4a8e-8b3c-e4609af9b86b" Alias="U8SK - Home - Nested Content" Level="2">
  <Info>
    <Name>U8SK - Home - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "blogListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Latest Blogs"
    },
    {
      "ncAlias": "callToActionSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Call To Action: {{title}}"
    },
    {
      "ncAlias": "productListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Products"
    },
    {
      "ncAlias": "peopleListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "People"
    },
    {
      "ncAlias": "signUpFormSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Sign Up Form"
    },
    {
      "ncAlias": "bannerSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner"
    },
    {
      "ncAlias": "linksListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Links List"
    },
    {
      "ncAlias": "iconsSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Icons List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>