<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <Key>8fd993ac-7ed4-420b-a749-ea0621563cd6</Key>
    <Alias>Get Latest Blogposts</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>26f82d13-0413-4690-a173-6376e672dc92</Key>
    <Alias>Select Featured Products</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>