<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <Key>d0382188-119b-49b7-86d3-84119a02645f</Key>
    <Alias>U8SK - Products - Mil</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>e21a892f-3991-4bda-a001-c53c98adbbd9</Key>
    <Alias>U8SK - Column Width - Dropdown</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>84bbeb67-df7e-4043-8db8-55df52d01456</Key>
    <Alias>U8SK - Product Features - Nested Content</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>1367e7d5-5e1e-4d2c-89b5-f61de02594b5</Key>
    <Alias>U8SK - Hero - Nested Content</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>496a4ec1-f8e9-420a-8a2f-6ffdc7083db3</Key>
    <Alias>U8SK - Home Outer - Nested Content</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>f547348a-aee8-4c7f-8461-82b918c83bc7</Key>
    <Alias>U8SK - Sidebar - Nested Content</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>