<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <Key>9796a7e7-549c-4cdc-97dc-5bb2f36d62af</Key>
    <Alias>Section</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>525b19c1-6cfd-4852-8ba7-d6532aba62a0</Key>
    <Alias>Product Feature Element</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>e1d7b25b-cb90-4072-a96d-83364167c8c2</Key>
    <Alias>Panel Element</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>848f2e07-7652-41fe-83fc-e9f0440a6701</Key>
    <Alias>Carousel Element</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>f82608de-6f90-45dd-90fa-46597d924384</Key>
    <Alias>test</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>1f8b544e-e8d7-48c0-93c7-e2bc6dea7a93</Key>
    <Alias>Hero Section</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>9ec34811-813d-4767-be6e-6aa0d795a181</Key>
    <Alias>Sidebar Section</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>