<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <Key>d0382188-119b-49b7-86d3-84119a02645f</Key>
    <Alias>U8SK - Products - Mil</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>