@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductElement>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

<div class="card has-spacing-bottom">
    <div class="image-card">
        <figure class="image image is-3by2"></figure>
    </div>
    <div class="card-content">
        <div class="content">
            <h4 class="title has-small-spacing-bottom">Biker Jacket</h4>
            <div class="has-spacing-bottom">
                <span class="tag">Vestibulum</span>
                <span class="tag">cubilia</span>
                <span class="tag">posuere</span>
            </div>
            <p>Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ultricies ligula sed magna dictum porta.</p>
            <p class="buttons">
                <a class="button is-link has-icons-left" href="/products/biker-jacket/">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Add to basket</span>
                </a>
            </p>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">€ 199.00</div>
        <div class="card-footer-item"><a class="is-bold" href="/products/biker-jacket/">Full details</a></div>
    </footer>
</div>