@inherits Umbraco.Web.Mvc.UmbracoViewPage<SignUpFormElement>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

@{
   //todo: hook up form to Umbraco Forms
}

<section class="is-fullwidth">
<div class="hero is-medium is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <article class="tile is-child notification is-light">
                        @if (Model.Title.HasValue())
                        {
                            <p class="title">@Model.Title</p>
                        }
                        @if (Model.Subtitle.HasValue())
                        {
                            <p class="subtitle">@Model.Subtitle</p>
                        }
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="e.g Alex Smith">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label is-light">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <a class="is-link button">Sign up</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
</section>