@inherits Umbraco.Web.Mvc.UmbracoViewPage<SingleLineElement>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

<footer class="footer is-dark">
    <div class="container">
        <div class="content has-text-centered has-text-light">
            @Model.Text
        </div>
    </div>
</footer>