@inherits Umbraco.Web.Mvc.UmbracoViewPage<TitleElement>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

<div class="columns is-centered">
    <div class="column is-two-thirds has-text-centered has-spacing-bottom has-no-background">
        @if (Model.Title.HasValue())
        {
            <h2 class="title is-2">@Model.Title</h2>
        }
        @if (Model.SubTitle.HasValue())
        {
            <div class="subtitle is-4">@Model.SubTitle</div>
        }
    </div>
</div>