@charset "utf-8";

// Customization
// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables 
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$text-dark-brown: #454547;
$grey-section:#f8f9fa;
$gray-lighter: #f7f7f7;
$gray-light: #dbdbdd;
$gray-dark: #aeafb3;
$gray-darker: #454547;
$pink: #e89d93;
$yellow: #eec71a;
$gray-logo: #e8e8e8;

// 3. Set the derived variables
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $text-dark-brown;
$card-shadow: .0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
$card-footer-border-top: 1px solid $grey-lighter;
$footer-background-color: $gray-darker;
$body-background-color: $grey-section;
$section-padding-medium: 6rem 1.5rem;
$panel-item-border: 0;
$panel-heading-radius:0;

.panel {
    box-shadow: $card-shadow;
    background: $white;
}

@import "../../node_modules/bulma/bulma";
@import "../../src/scss/u8starterkit.scss";