// OVERRIDES
// NAVBAR
.navbar {
    &-brand {
        margin-right:2em;
        .navbar-item {
            font-weight:700;
            font-size:1.1rem;
            span {
                background: $grey-lighter;
                border-radius: 3em;        
            }
        }
    }
}
.navbar-item {
    color: $grey-darker;
}
// HERO HOME
.hero-banner.is-medium {
    min-height:500px;
    .hero-body {
        z-index: 115;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        @include tablet-only {
            padding-top:6rem;
            padding-bottom:6rem;
        }
    }
    .hero-bannerbuttons {
        .button {
            > span {
                > em {
                display: block;
                font-size: .5em;
                font-style: normal;
                line-height: 1em;
                margin-bottom: .5em;
                opacity: .5
                }
            }
            img {
                display: block;
                max-height: 24px
            }
            &.is-mainbutton{
                background-color:$blue;
                border-color: transparent;
                color: #ffffff;
            }
            height: auto;
            padding-bottom: calc(1em - 1px);
            padding-top: calc(1em - 1px)
        }
    }
    &.has-background-info {
        .block , .title, strong{
            color: $white;
        }
        .hero-bannerbuttons {
            .button.is-mainbutton{
                background-color:$primary;
            }
        }
        a, i, .icon {
            color: $primary;
        }
    }
    &.has-background-dark {
        .block , .title, strong{
            color: $white;
        }
        .hero-bannerbuttons {
            .button.is-mainbutton{
                background-color:$primary;
            }
        }
        a, i, .icon {
            color: $primary;
        }
    }
    &.has-background-light,
    &.has-background-white {
        .icon {
            color: $primary;
        }
    }
    @include tablet{
        min-height: 670px;
    } 
}

// HERO FOOTER
.hero-footer, .footer {
    &.has-background-info, 
    &.has-background-primary,
    &.has-background-dark {
        .block , .title, .subtitle, strong, p{
            color: $white;
        }
        .button {
            border-color: $white;
            color: $white;
        }
    }
    &.has-background-light,
    &.has-background-white,
    &.has-background-grey-lighter {
        .button {
            border-color: $dark;
            color: $dark;
        }
    }
}

.subtitle {
    color: $grey-darker;
}

// Section Background
.section {
    &.has-background-info {
        .has-no-background {
            .title, .subtitle, ul, li, a, strong
            {
                color: $white;
            }
            svg {
                color: $grey-lighter !important;
            }
        }
    }
    &.has-background-dark {
        .has-no-background {
            .title, .subtitle, ul, li, a, strong
            {
                color: $white;
            }
          
            a:hover {
                color: $primary;
            }
            svg {
                color: $grey-lighter !important;
            }
        }   
    }
    &.has-background-primary {
        .image {
            background: $info;
        }
        .has-no-background {
            .title, .subtitle, ul, li, a, strong
            {
                color: $white;
            }
            svg {
                color: $grey-lighter !important;
            }
        }   
    }
    &.has-background-white, &.has-background-light, &.has-background-grey-lighter {
        .has-no-background {
        .title, .subtitle, ul, li, a, strong
        {
            color: $grey-darker;
        }
        svg {
            color: $grey-darker !important;
        }
    }
    }

}

// IMAGES
.image {
    background: $primary;
}


// UTILITY CLASSES
.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.62);
    padding: 25px;
    cursor: default;
    z-index: 110;
}

.has-small-spacing-bottom {
    margin-bottom: 0.25rem !important;
}
.has-spacing-bottom {
    margin-bottom: 1rem !important;
}
.has-large-spacing-bottom {
    margin-bottom: 3rem !important;
}

.has-spacing-top {
    margin-top: 1.5rem !important;
}

.is-background {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

// VIDEO WRAPPER
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top:2em;
    margin-bottom:2em;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// MAP IFRAME
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

// FONT AWESOME LISTs
.content { 
        ul {
            &.faLinks {
                list-style: none;
                margin-left: 0;
            }
        }   
}